---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary, cvUrl } = basics;
---

<Section title="About">
	<p>
		{summary}
	</p>
	<p class="hidden print:block">
		Complete CV: {cvUrl}
	</p>
</Section>
